In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# Find null values

In [4]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

# Find duplicate

In [6]:
df.duplicated().sum()

0

# Calculate Average Sepal Length for Each Species

In [8]:
average_sepal_length_by_species = df.groupby('Species')['SepalLengthCm'].mean()
print(average_sepal_length_by_species)

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

# Calculate Correlation between Sepal Length and Petal Length

In [9]:
correlation = df['SepalLengthCm'].corr(df['PetalLengthCm'])
print("Correlation between sepal length and petal length:", correlation)

Correlation between sepal length and petal length: 0.8717541573048718

# Identify Species with Largest Petals

In [10]:
species_with_largest_petals = df.loc[df['PetalLengthCm'].idxmax()]['Species']
print("Species with the largest petals:", species_with_largest_petals)

Species with the largest petals: Iris-virginica